<h1>Editing sportsperson</h1>

<%= render "form", sportsperson: @sportsperson %>

<br>

<div>
  <%= link_to "Show this sportsperson", @sportsperson %> |
  <%= link_to "Back to sportspeople", sportspeople_path %>
</div>
